.Select {
  justify-content: space-between;
  position: relative;
  width: 200px;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  border: 1px solid #d9d9d9;
  transition: all .3s;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
}

.Select:hover {
  border: 1px solid #47c479;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(37, 184, 100, .2);
}

.select_arrow {
  transform: rotate(90deg);
}

.Select>span {
  flex-shrink: 0;
}

.select_options {
  position: fixed;
  z-index: 1000;
  transform: translateZ(0px);
  color: #595959;
  font-size: 14px;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  padding: 4px 0;
  display: none;
}

.select_options_show {
  display: block;
  animation-name: fadeInUp;
  animation-duration: 200ms;
}

.select_option {
  padding: 5px 12px;
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  transition: background .3s ease;
}

.select_option:hover {
  background-color: #e9f7ec;
}

.select_option_selected {
  color: #595959;
  font-weight: 600;
  /* background-color: #e9f7ec; */
}

.select_placeholder {
  color: #bfbfbf;
}