.Pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}

.Pagination>ul {
  display: flex;
  align-items: center;
}

.Pagination_Item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  user-select: none;
}
.Pagination_Item>.Icon{
  color: rgba(0, 0, 0, 0.65); 
}

.Pagination>ul>li:not(.Pagination_Item_disable):hover {
  border-color: #1890ff;
  transition: all .3s;
  color: #1890ff;
}

.Pagination_Item_Active {
  border-color: #1890ff;
  transition: all .3s;
  color: #1890ff;
}

.Pagination_Item_disable {
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.Pagination_Item_disable>.Icon{
  color: rgba(0, 0, 0, 0.25);
}