.message {
  position: fixed;
  top: 16px;
  left: 0;
  z-index: 1010;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box {
  padding: 10px 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.message-box>svg {
  margin-right: 4px;
}

.message-content {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 0;
}