.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  color: #595959;
  font-size: 14px;
}

.breadcrumb-item>a {
  color: #595959;
  font-size: 14px;
}

.breadcrumb-mobile>.breadcrumb-item>a {
  max-width: 124px;
  font-size: 12px;
}

.breadcrumb-item>span {
  padding: 0 8px;
  font-size: 14px;
}