.modal {
  max-width: calc(100vw - 16px);
  max-height: calc(100vh - 16px);
  position: fixed;
  background: #ffffff;
  left: 50%;
  font-size: 14px;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  pointer-events: auto;
}

.modal-header {
  padding: 24px 0 0 24px;
  border-radius: 4px 4px 0 0;
}

.modal-header>span {
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  font-weight: 500;
}

.modal-header>p {
  color: #8c8c8c;
  margin: 0 0 8px;
  font-size: 14px
}

.modal-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background: transparent;
  display: none;
}

.modal-mask__bg {
  background: rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: block;
  animation-name: fadeIn;
  animation-duration: 200ms;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.modal-body {
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  padding: 0 24px 20px 24px;
  max-height: 400px;
  overflow: scroll;
}

.modal-footer {
  justify-content: flex-end;
  padding: 10px 24px;
  background: transparent;
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
  padding: 10px 10px 10px 24px;
}

.modal-footer>button {
  margin-left: 10px;
}

.body-scroll_hiddlen {
  overflow: hidden;
}