.popover-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  outline: 0;
}

.popover-wrapper_box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

.popover-wrapper__content {
  display: none;
  position: absolute;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  padding: 8px 0;
  border: none;
  z-index: 10;
}

.popover-wrapper__content .list-wrapper {
  box-shadow: none;
  padding: 0;
}

.popover_wrapper_arrow {
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-top-left-radius: 2px;
  background: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  left: 10px;
  top: -4px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, .05);
}

.popover-wrapper__content_show {
  display: block;
  animation-name: zoomIn;
  animation-duration: 200ms;
  z-index: 10;
}