.avatar-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 4px;
}

.header-user-popover {
  width: 250px;
  border-radius: 4px;
  box-sizing: border-box;
  right: 0;
}

.header-userpopover-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 6px 12px;
}

.header-userpopover-avatar {
  width: 30px;
  height: auto;
  border-radius: 100%;
  margin-right: 12px;
}

.header-userpopover__list {
  width: 100%;
}


.header-userpopover-info>div {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #595959;
  font-weight: bold;
  margin-bottom: 6px;
}

.header-userpopover-info>p {
  color: rgba(0, 0, 0, .45);
  font-size: 12px;
}

.header-user-popover ul.list-wrapper li {
  padding: 0 12px;
}

.avatar-down__icon {
  transform: scale(.8);
  top: 2.5px;
}