.empty {
  padding: 27px;
  text-align: center;
  line-height: 20px;
  color: #8c8c8c;
  box-sizing: border-box;
}

.empty>img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.empty-desc {
  font-size: 14px;
  color: #8c8c8c;
  line-height: 22px;
  margin-top: 16px;
}