.Tag {
  color: #fff;
  border-color: transparent;
  padding: 2px 6px;
  font-size: 12px;
  /* line-height: 20px; */
  white-space: nowrap;
  background: #fafafa;
  border-radius: 4px;
  cursor: default;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transform-origin: left;
}

.Tag:hover {
  opacity: .85;
}

.Tag>.Icon {
  color: #fff;
}