.input-wrapper {
  width: 320px;
  color: #595959;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  transition: all .3s;
  background-color: inherit;
  border-radius: 4px;
}

.input-wrapper:not(.input-disabled):hover {
  border-color: #25b864;
}

.input-wrapper>input,
.input-wrapper>textarea {
  height: 100%;
  font-size: inherit;
  transition: box-shadow linear .3s;
  border-radius: 4px;
  padding: 6px 11px;
  box-sizing: border-box;
  color: #595959;
  flex: 1;
  background-color: inherit;
}

.input-wrapper>textarea {
  border: none;
}

.input-full>input {
  width: 100%;
}

.input-wrapper>input::-webkit-input-placeholder {
  opacity: 0.5;
}

.input-wrapper>textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

.input-full:not(.input-disabled):hover {
  border: 1px solid #47c479;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(37, 184, 100, .2);
}

.input-addon__before,
.Input_addonAfter {
  justify-content: center;
  padding: 0 10px;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
  flex-shrink: 0;
}

.input-addon__before {
  border-left: none;
  border-right: 1px solid #e8e8e8;
}

.Input_addonAfter {
  border-right: none;
  border-left: 1px solid #e8e8e8;
}

.input-addon__before>div {
  position: relative;
  top: 1px;
}

.input-disabled {}

.input-disabled>input {
  color: rgba(0, 0, 0, .25);
  background-color: #f5f5f5;
  cursor: not-allowed;
}